body {background-color: #232324 ;}
                .header {background-color: #52233c ;}
                .footer {background-color: #52233c ;}
                .content {background-color: #313157 ; color: #e0ce2b;}
                .main, .letter-nav {background-color: #344554 ;}