body {background-color: #28b53e ;}
                .header {background-color: #2a425e ;}
                .footer {background-color: #2a425e ;}
                .content {background-color: #c91414 ; color: #09080a;}
                .main, .letter-nav {background-color: #5e3333 ;}