body {background-color: #703838 ;}
                .header {background-color: #8a3636 ;}
                .footer {background-color: #8a3636 ;}
                .content {background-color: #dbadad ; color: #000000;}
                .main, .letter-nav {background-color: #9c2828 ;}