Options +FollowSymLinks
RewriteEngine On
 
ErrorDocument 404 http://127.7.7.7/404/not-found

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteRule ^([^/]*)/([^/]*)$ /index.php?lang=$1&page=$2 [L]

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteRule ^([^/]*)/([^/]*)/([^/]*)$ /index.php?lang=$1&page=$2&id=$3 [L]
